* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
//colors
$blue: #0477BF;
$grey: #9CA1A6;
$silver: #F2F2F2;
$red: #D90404;

// google fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

$headings: "Raleway", sans-serif;
$codefont: "Source Code Pro", monospace;

@mixin flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mylinks {
  text-decoration: none;
  color: $silver;
}

@mixin main {
  width: 100%;
  height: 100vh;
  background-color: $silver;
}

@mixin para {
  color: $red;
  font-family: $codefont;
  font-size: 1.2rem;
}